
#bgtable {
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
}

h2 {
font-family: 'Helvetica';
}

h3 {
font-family: 'Helvetica';
}

#bgtable1 {
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 5px 5px 5px #888;
-webkit-box-shadow: 5px 5px 5px #888;
box-shadow: 0 0 5px 5px #888;
}


#bgtable2 {
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 5px 5px 5px #888;
-webkit-box-shadow: 5px 5px 5px #888;
box-shadow: 0 0 5px 5px #888;
}

#bgtable3 {
-moz-border-radius: 5px;
border-radius: 5px;
border-style:solid;
border-width:2px;
}

.text {
	font-family: 'Helvetica';
	font-size: 12px;
	font-weight:bold;
}

.regular {
	font-family: 'Verdana';
	font-size: 12px;
}

.regular a{
	font-family: 'Verdana';
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
}

.v{
	font-family: 'Helvetica';
	font-size: 10px;
	font-weight:bold;
	color: red;
}

.vb{
	font-family: 'Helvetica';
	font-size: 16px;
	font-weight:bold;
	color: blue;
}

.top_links {
	font-family: 'Verdana';
	font-size: 14px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

.top_links hover{
	font-family: 'Verdana';
	font-size: 14px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: underline;
}

.top_links a:link{
	font-family: 'Verdana';
	font-size: 14px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

.top_links a:hover{
	font-family: 'Verdana';
	font-size: 14px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: underline;
}

.top_links a:visited{
	font-family: 'Verdana';
	font-size: 14px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

.copyright {
	font-family: 'Verdana';
	font-size: 14px;
}

.e:hover{
   background-color:#e8e8e8;
   cursor:pointer;
}