
#bgtable {
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
}

h2 {
font-family: 'Helvetica';
}

h3 {
font-family: 'Helvetica';
}

#bgtable1 {
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 5px 5px 5px #888;
-webkit-box-shadow: 5px 5px 5px #888;
box-shadow: 0 0 5px 5px #888;
}


#bgtable2 {
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 5px 5px 5px #888;
-webkit-box-shadow: 5px 5px 5px #888;
box-shadow: 0 0 5px 5px #888;
}

#bgtable3 {
-moz-border-radius: 5px;
border-radius: 5px;
border-style:solid;
border-width:2px;
}

.text {
	font-family: 'Helvetica';
	font-size: 12px;
	font-weight:bold;
}

.regular {
	font-family: 'Verdana';
	font-size: 12px;
}

.regular a{
	font-family: 'Verdana';
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
}

.v{
	font-family: 'Helvetica';
	font-size: 10px;
	font-weight:bold;
	color: red;
}

.vb{
	font-family: 'Helvetica';
	font-size: 16px;
	font-weight:bold;
	color: blue;
}

.top_links {
	font-family: 'Verdana';
	font-size: 14px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

.top_links hover{
	font-family: 'Verdana';
	font-size: 14px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: underline;
}

.top_links a:link{
	font-family: 'Verdana';
	font-size: 14px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

.top_links a:hover{
	font-family: 'Verdana';
	font-size: 14px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: underline;
}

.top_links a:visited{
	font-family: 'Verdana';
	font-size: 14px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

.copyright {
	font-family: 'Verdana';
	font-size: 14px;
}

.database_management {
 width: 450px;
 height: 50px;
 display: block;
 background: transparent url('../img/database_managent.png') center top no-repeat;
}

.database_management:hover {
   background-image: url('../img/database_managent_hover.png');
}

.vedic_astrology {
 width: 450px;
 height: 50px;
 display: block;
 background: transparent url('../img/vedic_astrology.png') center top no-repeat;
}

.vedic_astrology:hover {
   background-image: url('../img/vedic_astrology_hover.png');
}

.lifecode_science {
 width: 450px;
 height: 50px;
 display: block;
 background: transparent url('../img/lifecode_science.png') center top no-repeat;
}

.lifecode_science:hover {
   background-image: url('../img/lifecode_science_hover.png');
}

.ayurvedic_science {
 width: 450px;
 height: 50px;
 display: block;
 background: transparent url('../img/ayurvedic_science.png') center top no-repeat;
}

.ayurvedic_science:hover {
   background-image: url('../img/ayurvedic_science_hover.png');
}

.non_profit_management {
 width: 450px;
 height: 50px;
 display: block;
 background: transparent url('../img/non_profit_management.png') center top no-repeat;
}

.non_profit_management:hover {
   background-image: url('../img/non_profit_management_hover.png');
}

.accounting_system {
 width: 450px;
 height: 50px;
 display: block;
 background: transparent url('../img/accounting_system.png') center top no-repeat;
}

.accounting_system:hover {
   background-image: url('../img/accounting_system_hover.png');
}

.swami_ram_websites {
 width: 450px;
 height: 50px;
 display: block;
 background: transparent url('../img/swami_ram_websites.png') center top no-repeat;
}

.swami_ram_websites:hover {
   background-image: url('../img/swami_ram_websites_hover.png');
}

.advertising_sales {
 width: 450px;
 height: 50px;
 display: block;
 background: transparent url('../img/advertising_sales.png') center top no-repeat;
}

.advertising_sales:hover {
   background-image: url('../img/advertising_sales_hover.png');
}

.statistics_analysis {
 width: 450px;
 height: 50px;
 display: block;
 background: transparent url('../img/statistics_analysis.png') center top no-repeat;
}

.statistics_analysis:hover {
   background-image: url('../img/statistics_analysis_hover.png');
}

.customers {
 width: 425px;
 height: 50px;
 display: block;
 background: transparent url('../img/database/customers.png') center top no-repeat;
}

.customers:hover {
   background-image: url('../img/database/customers_hover.png');
}

.company_names {
 width: 425px;
 height: 50px;
 display: block;
 background: transparent url('../img/database/company_names.png') center top no-repeat;
}

.company_names:hover {
   background-image: url('../img/database/company_names_hover.png');
}

.products {
 width: 425px;
 height: 50px;
 display: block;
 background: transparent url('../img/database/products.png') center top no-repeat;
}

.products:hover {
   background-image: url('../img/database/products_hover.png');
}

.herbal_cures {
 width: 425px;
 height: 50px;
 display: block;
 background: transparent url('../img/database/herbal_cures.png') center top no-repeat;
}

.herbal_cures:hover {
   background-image: url('../img/database/herbal_cures_hover.png');
}

.vedic_astrology_db {
 width: 425px;
 height: 50px;
 display: block;
 background: transparent url('../img/database/vedic_astrology.png') center top no-repeat;
}

.vedic_astrology_db:hover {
   background-image: url('../img/database/vedic_astrology_hover.png');
}

.websites {
 width: 425px;
 height: 50px;
 display: block;
 background: transparent url('../img/database/websites.png') center top no-repeat;
}

.websites:hover {
   background-image: url('../img/database/websites_hover.png');
}

.audio_db {
 width: 425px;
 height: 50px;
 display: block;
 background: transparent url('../img/database/audio.png') center top no-repeat;
}

.audio_db:hover {
   background-image: url('../img/database/audio_hover.png');
}

.videos_db {
 width: 425px;
 height: 50px;
 display: block;
 background: transparent url('../img/database/videos.png') center top no-repeat;
}

.videos_db:hover {
   background-image: url('../img/database/videos_hover.png');
}

.vendors {
 width: 425px;
 height: 50px;
 display: block;
 background: transparent url('../img/database/vendors.png') center top no-repeat;
}

.vendors:hover {
   background-image: url('../img/database/vendors_hover.png');
}

.suppliers {
 width: 425px;
 height: 50px;
 display: block;
 background: transparent url('../img/database/suppliers.png') center top no-repeat;
}

.suppliers:hover {
   background-image: url('../img/database/suppliers_hover.png');
}

.e:hover{
   background-color:#e8e8e8;
   cursor:pointer;
}